<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/dexie@3.0.0-rc.7/dist/dexie.js"></script>
    <title>Workers</title>
</head>
<body>
    <main>
        <h2><%- title %></h2>
        <p><%- description %></p>
      </main>
      <%- include('../public/includes/header.ejs') %>
      Name: <input type="teXt" id="input-1" />
      City: <input type="text" id="input-2" />
      <button id='send-button'>Send</button>

      <script src="/js/backgroundSyncScripts/script.js"></script>
</body>
</html>