<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workers</title>
</head>
<body>
    <main>
        <h2><%- title %></h2>
        <p><%- description %></p>
      </main>
      <%- include('../public/includes/header.ejs') %>

        <input type="number" id="input-1" />
        <input type="number" id="input-2" />
        <button id='multiply'>Multiply</button>
        <h2>Result : <span id="result"></span></h2>

        <script src="/js/dedicatedWorkerScripts/script.js"></script>
</body>
</html>
