<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workers</title>
</head>
<body>
    <main>
        <h2><%- title %></h2>
        <p><%- description %></p>
      </main>
      <%- include('../public/includes/header.ejs') %>
        <input type="text" id="input-url" />
        <button id='get-image'>Get Image</button>
        <img id="image-preview" />
      <script src="/js/ServiceWorkerScripts/script.js"></script>
</body>
</html>