<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workers</title>
</head>
<body>
    <main>
        <h2><%- title %></h2>
        <p><%- description %></p>
      </main>
      <%- include('../public/includes/header.ejs') %>
      <input type="text" id="input-1" />
      <button id='send-name'>Send</button>
      <h2><span id="result"></span></h2>

      <script>
        let input1 = document.getElementById('input-1');
        let sendName = document.getElementById('send-name');
        let result = document.getElementById('result');

        if(window.SharedWorker) {
            let calculationWorker = new SharedWorker("/js/sharedWorkerScripts/sharedWorkerCommonPost.js");
            sendName.onclick = () => {
              calculationWorker.port.postMessage(input1.value);
              result.value = "";
            }

            calculationWorker.port.onmessage = (e) => {
              result.innerText = e.data;
            }
          }
      </script>
</body>
</html>
