
<nav>
    <ul>
      <li>  <!-- Add class="current" to represent the active tab -->
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/service_worker">Service Worker</a>
      </li>
      <li>
        <a href="/dedicated_worker">Dedicated Worker</a>
      </li>
      <li>
        <a href="/shared_worker/1">Shared Worker</a>
      </li>
      <li>
        <a href="/background_sync">Background Sync</a>
      </li>
      <li>
        <a href="/notification/push">Push Notification</a>
      </li>
      <li>
        <a href="/clean">Clear Site data</a>
      </li>
    </ul>
  </nav>

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">