
<nav>
    <ul>
      <li class="current">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="service_worker">Service Worker</a>
      </li>
      <li>
        <a href="/dedicatedworker">Dedicated Worker</a>
      </li>
      <li>
        <a href="/sharedworker">Shared Worker</a>
      </li>
      <li>
        <a href="/backgroundsync">Background Sync</a>
      </li>
      <li>
        <a href="/pushnotification">Push Notification</a>
      </li>
    </ul>
  </nav>

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">